Interface/Interface.json
[{"id":"6ce7c9fb.b3a72","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"85258a3f.44d628","type":"ui_form","z":"6ce7c9fb.b3a72","name":"Dashboard Sign-In","label":"Insert your credentials:","group":"cbd88adc.2a1038","order":0,"width":"0","height":"0","options":[{"label":"username","value":"username","type":"password","required":true},{"label":"password","value":"password","type":"password","required":true}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":153,"y":359,"wires":[["2e024769.31d558","6cd76057.8b3ee","ac8997e4.8769f"]]},{"id":"f5686612.bec088","type":"debug","z":"6ce7c9fb.b3a72","name":"Debug Account Log ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":579,"y":416,"wires":[]},{"id":"8f5d4e64.8ad718","type":"comment","z":"6ce7c9fb.b3a72","name":"Sign-In Section","info":"","x":143,"y":168,"wires":[]},{"id":"ac8997e4.8769f","type":"function","z":"6ce7c9fb.b3a72","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ TryToAccessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":375,"y":399,"wires":[["f5686612.bec088","999f70a0.350108"]]},{"id":"99e2576d.df9fd","type":"comment","z":"6ce7c9fb.b3a72","name":"Session Management - 1 Hour","info":"","x":187,"y":589,"wires":[]},{"id":"1ebad38d.50b554","type":"inject","z":"6ce7c9fb.b3a72","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":151,"y":744,"wires":[["e22b777.455ad88","5a438962.5ca9d8"]]},{"id":"e22b777.455ad88","type":"function","z":"6ce7c9fb.b3a72","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 3600000; //1 ora\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":349.50003814697266,"y":698,"wires":[["a71cabdc.4e0ac8"]]},{"id":"a71cabdc.4e0ac8","type":"switch","z":"6ce7c9fb.b3a72","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":519.500072479248,"y":698,"wires":[["5c178687.41cc68"],["88141e6e.dde9f"],["dfceec4b.f12f5"]]},{"id":"5c178687.41cc68","type":"function","z":"6ce7c9fb.b3a72","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;","outputs":1,"noerr":0,"x":657.4999847412109,"y":671.0000038146973,"wires":[["84f47a5d.85acd","3a44688b.1d8738","ac38e6f8.8dca98"]]},{"id":"84f47a5d.85acd","type":"ui_toast","z":"6ce7c9fb.b3a72","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Session Timeout","name":"Time-Out Dialog","x":831.000114440918,"y":634.0000038146973,"wires":[[]]},{"id":"ed451132.d28f6","type":"ui_ui_control","z":"6ce7c9fb.b3a72","name":"Go to Signin Group","x":1038.0000324249268,"y":670.9999885559082,"wires":[[]]},{"id":"3a44688b.1d8738","type":"function","z":"6ce7c9fb.b3a72","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"System_Sensor\", \n            \"System_Options\",\n            \"System_Information\"],\n    show : [\"System_Signin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":841.5000228881836,"y":671,"wires":[["ed451132.d28f6"]]},{"id":"f2be1c07.af51b8","type":"ui_toast","z":"6ce7c9fb.b3a72","position":"bottom right","displayTime":"1","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Timer","name":"Display Remaining Time","x":860.2222023010254,"y":793.9999847412109,"wires":[]},{"id":"9548082d.de58c","type":"comment","z":"6ce7c9fb.b3a72","name":"Sensor Data Collection","info":"","x":163,"y":936,"wires":[]},{"id":"5a438962.5ca9d8","type":"function","z":"6ce7c9fb.b3a72","name":"Calculating Remaining Time (Debug)","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar remainingSecs = Math.floor((3600000 - (currTime - sessionTimer))/1000) + 1;\n    \nif ( sessionTimer == 0 /* Inactive, No user signed in */ ) {\n    return null;\n} else {\n    \n    if ( remainingSecs <= 7 ) msg.payload = \"Remaining : \" + remainingSecs + \" secs\";  \n    else return null;\n}\n\nmsg.socketid = flow.get(\"clientid\") || \"B1234\";\nreturn msg;","outputs":1,"noerr":0,"x":399.5000305175781,"y":794.0000123977661,"wires":[["f2be1c07.af51b8"]]},{"id":"a9ba03a7.46f9e","type":"ui_gauge","z":"6ce7c9fb.b3a72","name":"Gauge : Capacity","group":"fafefc20.17ef78","order":1,"width":"6","height":"5","gtype":"gage","title":"<i class=\"material-icons\"> speed </i> Capacity","label":"Status","format":"{{value}} %","min":0,"max":"100","colors":["#66ccff","#ff8000","#ca3838"],"seg1":"","seg2":"","x":1753,"y":971,"wires":[]},{"id":"ad4c5817.457a98","type":"ui_ui_control","z":"6ce7c9fb.b3a72","name":"Stay in Sensor Group","x":1048.000099182129,"y":711.9999980926514,"wires":[[]]},{"id":"88141e6e.dde9f","type":"function","z":"6ce7c9fb.b3a72","name":"Sensor/Options Goup","func":"var msg = {};\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    show : [\"System_Sensor\", \"System_Options\", \"System_Information\"],\n    hide : [\"System_Signin\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":699.0000305175781,"y":711.9999961853027,"wires":[["ad4c5817.457a98"]]},{"id":"dfceec4b.f12f5","type":"function","z":"6ce7c9fb.b3a72","name":"Signin Goup","func":"var msg = {};\nmsg.payload = { group: {\n    hide : [\"System_Sensor\", \"System_Options\", \"System_Information\", \"System_Update\", \"System_Maintenance\"],\n    show : [\"System_Signin\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":670.0000915527344,"y":753.0000343322754,"wires":[["9fa89036.68e8b"]]},{"id":"9fa89036.68e8b","type":"ui_ui_control","z":"6ce7c9fb.b3a72","name":"Go to Signin Group","x":1036.0002479553223,"y":753.0000343322754,"wires":[[]]},{"id":"2e024769.31d558","type":"debug","z":"6ce7c9fb.b3a72","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":354,"y":434,"wires":[]},{"id":"6cd76057.8b3ee","type":"pythonshell in","z":"6ce7c9fb.b3a72","name":"Py Login","pyfile":"D:\\Program\\node-red Login.py","virtualenv":"","continuous":false,"stdInData":false,"x":387,"y":301,"wires":[["478ebc64.cbbd4c"]],"icon":"node-red/parser-html.svg"},{"id":"3068d80d.ee3648","type":"comment","z":"6ce7c9fb.b3a72","name":"'Py Login' Note","info":"In 'Py Login' code block:\nChange the path to the current script path of the file 'node-red Login.py'.","x":380,"y":260,"wires":[],"icon":"node-red/alert.svg"},{"id":"4466dc90.3568b4","type":"switch","z":"6ce7c9fb.b3a72","name":"","property":"access","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":975,"y":249,"wires":[["a6cd9214.3c8c58"],["2b6adb36.29226c"],["8699e1e5.a275d8"],["2a235aa6.b33bb6"]]},{"id":"a6cd9214.3c8c58","type":"function","z":"6ce7c9fb.b3a72","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"System_Sensor\"],\n    hide : [\"System_Signin\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1184.999843597412,"y":188.00000953674316,"wires":[["b82a576e.9f7b6","e2b4a88b.de5fc8"]]},{"id":"b82a576e.9f7b6","type":"ui_ui_control","z":"6ce7c9fb.b3a72","name":"Go to Sensor/History Group","x":1518,"y":188,"wires":[[]]},{"id":"e1187818.b7bd","type":"ui_toast","z":"6ce7c9fb.b3a72","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Authentication Failed","name":"Authentication Failure Dialog","x":1517.9999046325684,"y":228.0000057220459,"wires":[[]]},{"id":"2b6adb36.29226c","type":"function","z":"6ce7c9fb.b3a72","name":"= 1 : Wrong User or Password","func":"msg.payload = \"Invalid User or Password.\";\nreturn msg;","outputs":1,"noerr":0,"x":1233,"y":228,"wires":[["e1187818.b7bd"]]},{"id":"8699e1e5.a275d8","type":"function","z":"6ce7c9fb.b3a72","name":"= 2 : Server Down","func":"msg.payload = \"The server is down.\";\nreturn msg;","outputs":1,"noerr":0,"x":1193,"y":269,"wires":[["c406cd5a.57085"]]},{"id":"c406cd5a.57085","type":"ui_toast","z":"6ce7c9fb.b3a72","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Connection Fail.","name":"Connection Fail","x":1478,"y":269,"wires":[[]]},{"id":"ead7129a.4a4c8","type":"function","z":"6ce7c9fb.b3a72","name":"Account Verification","func":"if ( msg.access === \"0\" ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":789,"y":301,"wires":[["4466dc90.3568b4","7bb6b662.d9084"]]},{"id":"d5feae64.029cf","type":"comment","z":"6ce7c9fb.b3a72","name":"'Account Verif.' Note","info":"This function prevent the same user to login multiple times at once.\n\nWe need to test it. And it can't be done in localhost.\n\nIf we don't need this function:\n\ndelete: 'Account Verification', '3 : System in Use'\n\nconnect 'Py Login' directly to 'switch'","x":788,"y":260,"wires":[]},{"id":"5df56a9c.62805c","type":"comment","z":"6ce7c9fb.b3a72","name":"Log Note","info":"It keep trace of all the tentatives to login.\n\nIn future we can create a mechanism to save it in a json file.\n","x":363,"y":358,"wires":[]},{"id":"2a235aa6.b33bb6","type":"function","z":"6ce7c9fb.b3a72","name":"= 3 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":1194,"y":309,"wires":[["b7ae2227.5f1f6"]]},{"id":"b7ae2227.5f1f6","type":"ui_toast","z":"6ce7c9fb.b3a72","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"System In Use.","name":"System In-Use Dialog","x":1497,"y":309,"wires":[[]]},{"id":"478ebc64.cbbd4c","type":"function","z":"6ce7c9fb.b3a72","name":"Payload Config","func":"var m = msg.payload;\nvar l = Array.from(m);\nmsg.access = l[0];\nmsg.payload = l.slice(1).join('');\nreturn msg;\n","outputs":1,"noerr":0,"x":572,"y":301,"wires":[["ead7129a.4a4c8"]]},{"id":"2c3eddb.a0399a2","type":"ui_button","z":"6ce7c9fb.b3a72","name":"Logout","group":"c06aa50c.38547","order":9,"width":"2","height":"1","passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"logout","payload":"","payloadType":"str","topic":"","x":141,"y":1298,"wires":[["5989fefc.ec7d88","d08c4e35.830f5"]]},{"id":"86875ee5.4b1c68","type":"ui_ui_control","z":"6ce7c9fb.b3a72","name":"Go to Signin Group","x":646,"y":1298,"wires":[[]]},{"id":"c91cbc36.dbe35","type":"ui_text_input","z":"6ce7c9fb.b3a72","name":"Search - Dustbin Number","label":"<i class=\"material-icons\"> search </i> Dustbin Number","tooltip":"","group":"c06aa50c.38547","order":5,"width":"4","height":"1","passthru":true,"mode":"number","delay":"0","topic":"","x":204,"y":1047,"wires":[["fed0a2c4.ae974"]],"icon":"node-red-dashboard/ui_numeric.png"},{"id":"5989fefc.ec7d88","type":"function","z":"6ce7c9fb.b3a72","name":"Sign-In Redirection","func":"var msg = {};\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"System_Sensor\", \n            \"System_Options\",\n            \"System_Information\",\n            \"System_Update\",\n            \"System_Maintenance\"],\n    show : [\"System_Signin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":428,"y":1298,"wires":[["86875ee5.4b1c68"]]},{"id":"e4d6270a.942d58","type":"ui_text_input","z":"6ce7c9fb.b3a72","name":"Search- IP Adress","label":"<i class=\"material-icons\"> search </i> IP Adress","tooltip":"","group":"2396b11f.1e9176","order":2,"width":"6","height":"1","passthru":true,"mode":"text","delay":"0","topic":"","x":179,"y":1940,"wires":[["e218330b.0a4e18"]]},{"id":"221dbeff.bb095a","type":"json","z":"6ce7c9fb.b3a72","name":"","property":"payload","action":"","pretty":false,"x":1156,"y":1086,"wires":[["19590548.bc864b"]]},{"id":"dfbbe061.cb1138","type":"pythonshell in","z":"6ce7c9fb.b3a72","name":"Py Sensor DB","pyfile":"D:\\Program\\node-red DataBase.py","virtualenv":"","continuous":false,"stdInData":false,"x":639,"y":1064,"wires":[["7ff8887e.7d3dc8"]],"icon":"node-red/parser-html.svg"},{"id":"7bb6b662.d9084","type":"pythonshell in","z":"6ce7c9fb.b3a72","name":"Py Permissions","pyfile":"D:\\Program\\Login\\permissions.py","virtualenv":"","continuous":false,"stdInData":false,"x":1032,"y":404,"wires":[["95653c74.2f61f8"]],"icon":"node-red/parser-html.svg"},{"id":"95653c74.2f61f8","type":"switch","z":"6ce7c9fb.b3a72","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1195,"y":404,"wires":[["26c7ac48.f0a95c"],["9ed6ea7f.914258"],["27301a4d.d503a6"]]},{"id":"b01a335b.70011","type":"ui_toast","z":"6ce7c9fb.b3a72","position":"bottom right","displayTime":"5","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Permissions:","name":"Permissions","x":1584,"y":404,"wires":[]},{"id":"26c7ac48.f0a95c","type":"function","z":"6ce7c9fb.b3a72","name":"= 0 : Read and Write","func":"msg.payload = \"Read and Write.\";\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":382,"wires":[["b01a335b.70011","ffd502d7.02ce58"]]},{"id":"9ed6ea7f.914258","type":"function","z":"6ce7c9fb.b3a72","name":"= 1 : Read Only","func":"msg.payload = \"Read Only.\";\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":422,"wires":[["b01a335b.70011","a8ad397e.ffdae8"]]},{"id":"dbe2a9f2.a1322","type":"comment","z":"6ce7c9fb.b3a72","name":"'Py Permissions' Note","info":"In 'Py Permissions' code block:\nChange the path to the current script path of the file 'permissions.py'.","x":1025,"y":364,"wires":[],"icon":"node-red/alert.svg"},{"id":"172e623.b3ca81e","type":"comment","z":"6ce7c9fb.b3a72","name":"'Py Sensor DB' Note","info":"In 'Py Sensor DB' code block:\nChange the path to the current script path of the file 'node-red DataBase.py'.","x":625,"y":1024,"wires":[],"icon":"node-red/alert.svg"},{"id":"de7e1d5d.49bcd8","type":"ui_gauge","z":"6ce7c9fb.b3a72","name":"Gauge : Battery","group":"fafefc20.17ef78","order":2,"width":"6","height":"7","gtype":"donut","title":"<i class=\"material-icons\"> battery_charging_full </i> Battery","label":"Status","format":"{{value}} %","min":0,"max":"100","colors":["#ca3838","#ff8000","#66ccff"],"seg1":"","seg2":"","x":1740,"y":1011.0000343322754,"wires":[]},{"id":"adef6ce7.dbffb8","type":"ui_text_input","z":"6ce7c9fb.b3a72","name":"Search - Service Order","label":"<i class=\"material-icons\"> search </i> Service Order","tooltip":"","group":"c06aa50c.38547","order":3,"width":"4","height":"1","passthru":true,"mode":"number","delay":"0","topic":"","x":204,"y":1144,"wires":[["b887dbc6.289f1"]],"icon":"node-red-dashboard/ui_numeric.png"},{"id":"19590548.bc864b","type":"function","z":"6ce7c9fb.b3a72","name":"Payload Config","func":"var obj = msg.payload;\n\nmsg.Measure = obj.Measure\nmsg.Battery = obj.Battery\nmsg.IP = obj.IP\nmsg.Number = obj.Number\n\nreturn msg;","outputs":1,"noerr":0,"x":1321,"y":1086,"wires":[["81edef9b.302158","9ba27344.4f5e4","8bf80f6f.40764","e44566ee.0d41a8","ac8a029d.b3c7"]]},{"id":"81edef9b.302158","type":"function","z":"6ce7c9fb.b3a72","name":"Sensor: Measure","func":"var data = msg.Measure;\nmsg.payload = data\n\nreturn msg;","outputs":1,"noerr":0,"x":1541,"y":971,"wires":[["a9ba03a7.46f9e"]]},{"id":"9ba27344.4f5e4","type":"function","z":"6ce7c9fb.b3a72","name":"Sensor: Battery","func":"var data = msg.Battery;\nmsg.payload = data\n\nreturn msg;","outputs":1,"noerr":0,"x":1531,"y":1011,"wires":[["de7e1d5d.49bcd8"]]},{"id":"9b999bf9.c1f798","type":"ui_text","z":"6ce7c9fb.b3a72","group":"2396b11f.1e9176","order":1,"width":"6","height":"1","name":"Current sensor IP","label":"Sensor - IP Adress:","format":"{{msg.payload}}","layout":"row-spread","x":182,"y":1980,"wires":[],"icon":"node-red-dashboard/ui_numeric.png"},{"id":"7b692124.23d118","type":"ui_text","z":"6ce7c9fb.b3a72","group":"dbd9a7c0.b46cd8","order":1,"width":0,"height":0,"name":"Dustbin Number","label":"Dustbin Number","format":"{{msg.payload}}","layout":"row-left","x":1742,"y":1091,"wires":[],"icon":"node-red-dashboard/ui_numeric.png"},{"id":"8bf80f6f.40764","type":"function","z":"6ce7c9fb.b3a72","name":"Sensor: IP","func":"var data = msg.IP;\nmsg.payload = data\n\nreturn msg;","outputs":1,"noerr":0,"x":1521,"y":1051,"wires":[["bb7417c0.f7652"]]},{"id":"e44566ee.0d41a8","type":"function","z":"6ce7c9fb.b3a72","name":"Sensor: Number","func":"var data = msg.Number;\nmsg.payload = data\nif (data !== \"\"){\nmsg.payload = \": \" + data    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1532,"y":1091,"wires":[["7b692124.23d118"]]},{"id":"b887dbc6.289f1","type":"function","z":"6ce7c9fb.b3a72","name":"Payload Config","func":"var value = msg.payload;\nif(value !== \"\"){\nmsg.payload = {\"Number\": value}\nreturn msg}","outputs":1,"noerr":0,"x":420,"y":1144,"wires":[["4e60845.33456fc"]]},{"id":"8713cebe.eede1","type":"ui_text","z":"6ce7c9fb.b3a72","group":"dbd9a7c0.b46cd8","order":5,"width":"6","height":"6","name":"Service Order Text","label":"Number: {{msg.payload.Number}}","format":"<br>- Date: {{msg.payload.Date}} <br>- Employee ID: {{msg.payload.Employee}} <br>- Dustbins: {{msg.payload.Dustbins}} ","layout":"col-center","x":1543,"y":1211,"wires":[]},{"id":"4bd8f92c.bf79e8","type":"ui_text","z":"6ce7c9fb.b3a72","group":"dbd9a7c0.b46cd8","order":4,"width":"6","height":"1","name":"Service Order Title","label":"<i class=\"material-icons\"> event_note </i> Service Order","format":"","layout":"col-center","x":1543,"y":1171,"wires":[]},{"id":"ffd502d7.02ce58","type":"function","z":"6ce7c9fb.b3a72","name":"Write","func":"var msg = {};\n\nmsg.payload = { group: {\n    show : [\"System_Sensor\", \"System_Options\", \"System_Information\", \"System_Update\"],\n    hide : [\"System_Signin\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":1564,"y":364,"wires":[["eff9a595.7bec"]]},{"id":"5d09e359.0e622c","type":"ui_text_input","z":"6ce7c9fb.b3a72","name":"Order Number","label":"<i class=\"material-icons\"> library_books </i> Order Number","tooltip":"","group":"76cb9e5a.a42d18","order":1,"width":"6","height":"1","passthru":false,"mode":"number","delay":"0","topic":"Number","x":174,"y":1537,"wires":[["dc3fdfe2.747ca8","2c7bd624.5df222"]],"icon":"node-red-dashboard/ui_numeric.png"},{"id":"a8ad397e.ffdae8","type":"function","z":"6ce7c9fb.b3a72","name":"Read","func":"var msg = {};\n\nmsg.payload = { group: {\n    show : [\"System_Sensor\", \"System_Options\", \"System_Information\"],\n    hide : [\"System_Signin\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":1564,"y":444,"wires":[["2c441428.544174"]]},{"id":"2c441428.544174","type":"ui_ui_control","z":"6ce7c9fb.b3a72","name":"Go to Sensor Group","x":1770,"y":444,"wires":[[]]},{"id":"eff9a595.7bec","type":"ui_ui_control","z":"6ce7c9fb.b3a72","name":"Go to Sensor Group","x":1769,"y":364,"wires":[[]]},{"id":"fed0a2c4.ae974","type":"function","z":"6ce7c9fb.b3a72","name":"Payload Config","func":"var x = msg.payload;\nif(x !== \"\"){\nif(typeof(x)==\"string\"){\n\tmsg.payload = {\"IP\": x};\n }else{\n\tmsg.payload = {\"Number\": x};\n }}\nreturn msg;","outputs":1,"noerr":0,"x":424,"y":1064,"wires":[["dfbbe061.cb1138"]]},{"id":"4e60845.33456fc","type":"pythonshell in","z":"6ce7c9fb.b3a72","name":"Py Service DB","pyfile":"D:\\Program\\DataBase\\serviceDB.py","virtualenv":"","continuous":false,"stdInData":false,"x":637,"y":1189,"wires":[["6cd57c3b.2168ec"]],"icon":"node-red/parser-html.svg"},{"id":"199e6604.d80ca2","type":"pythonshell in","z":"6ce7c9fb.b3a72","name":"Py Update","pyfile":"D:\\Program\\DataBase\\updateDB.py","virtualenv":"","continuous":false,"stdInData":false,"x":885,"y":1624,"wires":[["f8a17afb.01141"]],"icon":"node-red/parser-html.svg"},{"id":"bb7c2ae7.089f2","type":"ui_text_input","z":"6ce7c9fb.b3a72","name":"Dustbins Numbers","label":"<i class=\"material-icons\"> library_books </i> Dustbins Numbers","tooltip":"","group":"76cb9e5a.a42d18","order":4,"width":"6","height":"1","passthru":true,"mode":"text","delay":"0","topic":"Dustbins","x":183,"y":1614,"wires":[["dc3fdfe2.747ca8","2c7bd624.5df222"]]},{"id":"dc3fdfe2.747ca8","type":"join","z":"6ce7c9fb.b3a72","name":"preview","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":655,"y":1537,"wires":[["9cf9886.d051df8"]]},{"id":"f970ecbf.0b314","type":"ui_button","z":"6ce7c9fb.b3a72","name":"Update","group":"76cb9e5a.a42d18","order":8,"width":"6","height":"1","passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"{{msg.payload}}","payloadType":"str","topic":"","x":153,"y":1654,"wires":[["968d309b.8ee398"]]},{"id":"9cf9886.d051df8","type":"ui_text","z":"6ce7c9fb.b3a72","group":"76cb9e5a.a42d18","order":7,"width":"6","height":"6","name":"Order preview","label":"Number: {{msg.payload.Number}} ","format":"<br>- Date: {{msg.payload.Date}} <br>- Employee ID: {{msg.payload.Employee}} <br>- Dustbins: {{msg.payload.Dustbins}} ","layout":"col-center","x":870,"y":1537,"wires":[]},{"id":"968d309b.8ee398","type":"function","z":"6ce7c9fb.b3a72","name":"Update msg","func":"msg.complete = true\nreturn msg;\n\n","outputs":1,"noerr":0,"x":412,"y":1654,"wires":[["2c7bd624.5df222"]]},{"id":"2c7bd624.5df222","type":"join","z":"6ce7c9fb.b3a72","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":645,"y":1614,"wires":[["204d9737.7c52c8","199e6604.d80ca2","3dd1e774.a91038","9e968fe2.055dc","d33a637c.c99e2"]]},{"id":"acc182ea.36abe","type":"comment","z":"6ce7c9fb.b3a72","name":"Update Section","info":"","x":142,"y":1429,"wires":[]},{"id":"5336dc50.5c948c","type":"ui_text","z":"6ce7c9fb.b3a72","group":"76cb9e5a.a42d18","order":6,"width":"6","height":"1","name":"Service Order Preview Title","label":"Preview","format":"","layout":"col-center","x":910,"y":1497,"wires":[]},{"id":"dda5e6.14687218","type":"link out","z":"6ce7c9fb.b3a72","name":"","links":["fb2a6724.652c08"],"x":970,"y":1665,"wires":[]},{"id":"fb2a6724.652c08","type":"link in","z":"6ce7c9fb.b3a72","name":"","links":["dda5e6.14687218"],"x":78,"y":1194,"wires":[["57450d2f.62e30c"]]},{"id":"57450d2f.62e30c","type":"delay","z":"6ce7c9fb.b3a72","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":153,"y":1193,"wires":[["adef6ce7.dbffb8"]]},{"id":"204d9737.7c52c8","type":"function","z":"6ce7c9fb.b3a72","name":"Send number","func":"msg.payload = msg.payload.Number\nreturn msg;","outputs":1,"noerr":0,"x":873,"y":1665,"wires":[["dda5e6.14687218"]]},{"id":"8b1a23e8.fbe248","type":"ui_date_picker","z":"6ce7c9fb.b3a72","name":"","label":"Date","group":"76cb9e5a.a42d18","order":2,"width":"6","height":"1","passthru":false,"topic":"Date","x":144,"y":1494,"wires":[["83007da8.21c5d"]]},{"id":"3bda6f8a.9b2fa","type":"ui_text_input","z":"6ce7c9fb.b3a72","name":"Employee ID","label":"<i class=\"material-icons\"> library_books </i> Employee ID","tooltip":"","group":"76cb9e5a.a42d18","order":3,"width":"6","height":"1","passthru":true,"mode":"number","delay":"0","topic":"Employee","x":163,"y":1574,"wires":[["dc3fdfe2.747ca8","2c7bd624.5df222"]]},{"id":"5332f429.1b2944","type":"comment","z":"6ce7c9fb.b3a72","name":"Requirements","info":"Install from 'shell':\n - python 3.8  (cannot have other versions installed)\n - pymongo     (python module)\n - dnspython   (python module)\n\nInstall from node-red 'manage palette':\n - node-red-contrib-pythonshell\n - node-red-contrib-moment\n - node-red-dashboard","x":133,"y":60,"wires":[],"icon":"node-red/alert.svg"},{"id":"83007da8.21c5d","type":"moment","z":"6ce7c9fb.b3a72","name":"Date Format","topic":"Date","input":"payload","inputType":"msg","inTz":"Europe/Rome","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD/MM/YYYY","locale":"en_US","output":"payload","outputType":"msg","outTz":"Europe/Rome","x":283,"y":1494,"wires":[["dc3fdfe2.747ca8","2c7bd624.5df222"]]},{"id":"999f70a0.350108","type":"file","z":"6ce7c9fb.b3a72","name":"Write to File","filename":"D:\\Log.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":560,"y":382,"wires":[[]]},{"id":"b5cf6d43.c72778","type":"function","z":"6ce7c9fb.b3a72","name":"Payload Config","func":"var obj = msg.payload;\n\nmsg.Number = obj.Number\nmsg.Date = obj.Date\nmsg.Employee = obj.Employee\nmsg.Dustbins = obj.Dustbins\n\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1211,"wires":[["8713cebe.eede1","ac8a029d.b3c7"]]},{"id":"90c56903.71dcd","type":"ui_toast","z":"6ce7c9fb.b3a72","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Failed Update:","name":"Fail","x":1309,"y":1646,"wires":[[]]},{"id":"f8a17afb.01141","type":"switch","z":"6ce7c9fb.b3a72","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\"Service Order\" updated successfully.","vt":"str"},{"t":"eq","v":"\"Service Order\" created successfully.","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1051,"y":1624,"wires":[["58347354.ead644"],["58347354.ead644"],["a6e20168.f2b18"]]},{"id":"58347354.ead644","type":"ui_toast","z":"6ce7c9fb.b3a72","position":"bottom right","displayTime":"10","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Successful Update:","name":"Success","x":1204,"y":1604,"wires":[]},{"id":"8dcaca35.57d508","type":"ui_text_input","z":"6ce7c9fb.b3a72","name":"Search - Employee ID","label":"<i class=\"material-icons\"> search </i> Employee ID","tooltip":"","group":"c06aa50c.38547","order":3,"width":"4","height":"1","passthru":true,"mode":"number","delay":"0","topic":"","x":193,"y":1237,"wires":[["d948cda7.9471c8"]],"icon":"node-red-dashboard/ui_numeric.png"},{"id":"d948cda7.9471c8","type":"function","z":"6ce7c9fb.b3a72","name":"Payload Config","func":"var value = msg.payload;\nif(value !== \"\"){\nmsg.payload = {\"Employee\": value}\nreturn msg}","outputs":1,"noerr":0,"x":421,"y":1237,"wires":[["4e60845.33456fc"]]},{"id":"a6e20168.f2b18","type":"function","z":"6ce7c9fb.b3a72","name":"msg","func":"msg.payload = '\"Service Order\" failed to update. You must insert all the parameters.'\nreturn msg;","outputs":1,"noerr":0,"x":1194,"y":1646,"wires":[["90c56903.71dcd"]]},{"id":"3dd1e774.a91038","type":"function","z":"6ce7c9fb.b3a72","name":"Reset Inputs","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":864,"y":1708,"wires":[["946a7840.7731b"]]},{"id":"946a7840.7731b","type":"link out","z":"6ce7c9fb.b3a72","name":"","links":["4aeeae7c.4aa418","fa830eb4.32817","119fdda6.256562","ce0a5076.1a40c","898d6f75.0e4478","8570ddf5.2d62b8","44ba87f8.6d38c8"],"x":950,"y":1708,"wires":[]},{"id":"b03a40f6.f781","type":"link in","z":"6ce7c9fb.b3a72","name":"","links":["e5698a4e.47d308"],"x":78,"y":1495,"wires":[["8b1a23e8.fbe248"]]},{"id":"4aeeae7c.4aa418","type":"link in","z":"6ce7c9fb.b3a72","name":"","links":["946a7840.7731b"],"x":78,"y":1537,"wires":[["5d09e359.0e622c"]]},{"id":"fa830eb4.32817","type":"link in","z":"6ce7c9fb.b3a72","name":"","links":["946a7840.7731b"],"x":77,"y":1574,"wires":[["3bda6f8a.9b2fa"]]},{"id":"119fdda6.256562","type":"link in","z":"6ce7c9fb.b3a72","name":"","links":["946a7840.7731b"],"x":77,"y":1614,"wires":[["bb7c2ae7.089f2"]]},{"id":"d33a637c.c99e2","type":"function","z":"6ce7c9fb.b3a72","name":"Reset Preview","func":"msg.payload.Number = \"\"\nmsg.payload.Date = \"\"\nmsg.payload.Employee = \"\"\nmsg.payload.Dustbins = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":875,"y":1751,"wires":[["38172efa.3de362"]]},{"id":"38172efa.3de362","type":"link out","z":"6ce7c9fb.b3a72","name":"","links":["3ca98ca7.044a34"],"x":971,"y":1751,"wires":[]},{"id":"3ca98ca7.044a34","type":"link in","z":"6ce7c9fb.b3a72","name":"","links":["38172efa.3de362"],"x":608,"y":1498,"wires":[["3c41b403.b85de4"]]},{"id":"9e968fe2.055dc","type":"function","z":"6ce7c9fb.b3a72","name":"Reset Date","func":"var today = new Date();\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\n\ntoday = mm + '/' + dd + '/' + yyyy;\nmsg.payload = today\nreturn msg;","outputs":1,"noerr":0,"x":865,"y":1793,"wires":[["e5698a4e.47d308"]]},{"id":"e5698a4e.47d308","type":"link out","z":"6ce7c9fb.b3a72","name":"","links":["b03a40f6.f781"],"x":951,"y":1793,"wires":[]},{"id":"3c41b403.b85de4","type":"delay","z":"6ce7c9fb.b3a72","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":684,"y":1498,"wires":[["9cf9886.d051df8"]]},{"id":"bb7417c0.f7652","type":"link out","z":"6ce7c9fb.b3a72","name":"","links":["cc40feb.84f5c8"],"x":1607,"y":1051,"wires":[]},{"id":"cc40feb.84f5c8","type":"link in","z":"6ce7c9fb.b3a72","name":"","links":["bb7417c0.f7652"],"x":76,"y":1980,"wires":[["9b999bf9.c1f798"]]},{"id":"e218330b.0a4e18","type":"link out","z":"6ce7c9fb.b3a72","name":"","links":["b0ded0be.57763"],"x":285,"y":1940,"wires":[]},{"id":"b0ded0be.57763","type":"link in","z":"6ce7c9fb.b3a72","name":"","links":["e218330b.0a4e18"],"x":300,"y":1087,"wires":[["fed0a2c4.ae974"]]},{"id":"ac8a029d.b3c7","type":"function","z":"6ce7c9fb.b3a72","name":"Reset Inputs","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":1522,"y":1131,"wires":[["280f91fb.cf5326"]]},{"id":"280f91fb.cf5326","type":"link out","z":"6ce7c9fb.b3a72","name":"","links":["150b44c.84f67bb","671e49e6.aadf38","d3a6a1e5.15ebc","751f587b.88f3b","d05d6453.07795"],"x":1608,"y":1131,"wires":[]},{"id":"150b44c.84f67bb","type":"link in","z":"6ce7c9fb.b3a72","name":"","links":["280f91fb.cf5326","a4650768.08ec4","7e9c1047.b96678"],"x":78,"y":1047,"wires":[["c91cbc36.dbe35"]]},{"id":"671e49e6.aadf38","type":"link in","z":"6ce7c9fb.b3a72","name":"","links":["280f91fb.cf5326","a4650768.08ec4","7e9c1047.b96678"],"x":78,"y":1144,"wires":[["adef6ce7.dbffb8"]]},{"id":"d3a6a1e5.15ebc","type":"link in","z":"6ce7c9fb.b3a72","name":"","links":["280f91fb.cf5326","a4650768.08ec4","7e9c1047.b96678"],"x":77,"y":1237,"wires":[["8dcaca35.57d508"]]},{"id":"d05d6453.07795","type":"link in","z":"6ce7c9fb.b3a72","name":"","links":["280f91fb.cf5326","a4650768.08ec4","7e9c1047.b96678"],"x":73,"y":1940,"wires":[["e4d6270a.942d58"]]},{"id":"992fb876.3ce5e","type":"json","z":"6ce7c9fb.b3a72","name":"","property":"payload","action":"","pretty":false,"x":1155,"y":1211,"wires":[["b5cf6d43.c72778"]]},{"id":"680e4789.860778","type":"function","z":"6ce7c9fb.b3a72","name":"Payload Control","func":"if (msg.payload !== \"\"){\nreturn msg}","outputs":1,"noerr":0,"x":995,"y":1086,"wires":[["221dbeff.bb095a"]]},{"id":"7c22a952.3a2bb","type":"function","z":"6ce7c9fb.b3a72","name":"Payload Control","func":"if (msg.payload !== \"\"){\nreturn msg}","outputs":1,"noerr":0,"x":995,"y":1211,"wires":[["992fb876.3ce5e"]]},{"id":"fd9a94e2.d140f","type":"comment","z":"6ce7c9fb.b3a72","name":"Maintenance Section","info":"","x":160,"y":1880,"wires":[]},{"id":"27301a4d.d503a6","type":"function","z":"6ce7c9fb.b3a72","name":"= 1 : Maintenance","func":"msg.payload = \"Maintenance.\";\nreturn msg;","outputs":1,"noerr":0,"x":1371,"y":462,"wires":[["b01a335b.70011","2c92842a.1be13c"]]},{"id":"2c92842a.1be13c","type":"function","z":"6ce7c9fb.b3a72","name":"Maintenance","func":"var msg = {};\n\nmsg.payload = { group: {\n    show : [\"System_Sensor\", \"System_Options\", \"System_Information\", \"System_Maintenance\"],\n    hide : [\"System_Signin\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":1584,"y":484,"wires":[["62b2ccf7.eaac64"]]},{"id":"62b2ccf7.eaac64","type":"ui_ui_control","z":"6ce7c9fb.b3a72","name":"Go to Sensor Group","x":1771,"y":484,"wires":[[]]},{"id":"56d34078.05ac88","type":"comment","z":"6ce7c9fb.b3a72","name":"'Py Service DB' Note","info":"In 'Py Service DB code block:\nChange the path to the current script path of the file 'serviceDB.py'.","x":624,"y":1148,"wires":[],"icon":"node-red/alert.svg"},{"id":"2bfa799a.57f456","type":"comment","z":"6ce7c9fb.b3a72","name":"'Py Update' Note","info":"In 'Py Update' code block:\nChange the path to the current script path of the file 'updateDB.py'.","x":869,"y":1583,"wires":[],"icon":"node-red/alert.svg"},{"id":"6cd57c3b.2168ec","type":"switch","z":"6ce7c9fb.b3a72","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"neq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":812,"y":1189,"wires":[["23980042.fa9bf"],["7c22a952.3a2bb"]]},{"id":"9233d43c.4391a8","type":"ui_toast","z":"6ce7c9fb.b3a72","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Error:","name":"Object not find in DB","x":1301,"y":1168,"wires":[["ac8a029d.b3c7"]]},{"id":"23980042.fa9bf","type":"function","z":"6ce7c9fb.b3a72","name":"= 1 : Error","func":"msg.payload = \"Object not found in the database.\";\nreturn msg;","outputs":1,"noerr":0,"x":974,"y":1168,"wires":[["9233d43c.4391a8"]]},{"id":"92757b01.f79208","type":"comment","z":"6ce7c9fb.b3a72","name":"'Write to File' Note","info":"Change the Path to any exist location. This block will create a log register file there.","x":579,"y":346,"wires":[],"icon":"node-red/alert.svg"},{"id":"e63e5b8a.655f08","type":"function","z":"6ce7c9fb.b3a72","name":"Reset Widgets","func":"msg.Measure = \"\"\nmsg.Battery = \"\"\nmsg.Number = \"\"\nmsg.Date = \"\"\nmsg.Employee = \"\"\nmsg.Dustbins = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":1321,"y":1127,"wires":[["81edef9b.302158","9ba27344.4f5e4","e44566ee.0d41a8","8713cebe.eede1"]]},{"id":"460dd807.29039","type":"link in","z":"6ce7c9fb.b3a72","name":"","links":["d08c4e35.830f5","ac38e6f8.8dca98","e2b4a88b.de5fc8"],"x":1225,"y":1127,"wires":[["e63e5b8a.655f08"]]},{"id":"d08c4e35.830f5","type":"link out","z":"6ce7c9fb.b3a72","name":"","links":["460dd807.29039"],"x":260,"y":1330,"wires":[]},{"id":"ac38e6f8.8dca98","type":"link out","z":"6ce7c9fb.b3a72","name":"","links":["460dd807.29039"],"x":765,"y":600,"wires":[]},{"id":"35d1e6c1.ad01b2","type":"comment","z":"6ce7c9fb.b3a72","name":"Connect to server","info":"","x":140,"y":2246,"wires":[]},{"id":"5ff55856.4914c","type":"comment","z":"6ce7c9fb.b3a72","name":"Python write sensor data","info":"","x":170,"y":2059,"wires":[]},{"id":"e2b4a88b.de5fc8","type":"link out","z":"6ce7c9fb.b3a72","name":"","links":["460dd807.29039"],"x":1292,"y":168,"wires":[]},{"id":"8635bf7e.fc404","type":"ui_toast","z":"6ce7c9fb.b3a72","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Error:","name":"Object not find in DB","x":1301,"y":1043,"wires":[["ac8a029d.b3c7"]]},{"id":"399e2607.a6dc6a","type":"function","z":"6ce7c9fb.b3a72","name":"= 1 : Error","func":"msg.payload = \"Object not found in the database.\";\nreturn msg;","outputs":1,"noerr":0,"x":975,"y":1043,"wires":[["8635bf7e.fc404"]]},{"id":"7ff8887e.7d3dc8","type":"switch","z":"6ce7c9fb.b3a72","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"neq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":811,"y":1064,"wires":[["399e2607.a6dc6a"],["680e4789.860778"]]},{"id":"ff0292b2.d91318","type":"ui_template","z":"6ce7c9fb.b3a72","group":"dbd9a7c0.b46cd8","name":"Clock Toolbar","order":3,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    $('#titleScript').parent().hide();\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleTimeString('de-AT'));\n    }\n\n    \n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            displayTitle(data);\n        });\n        setInterval(upTime,1000);\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1743,"y":1210,"wires":[[]]},{"id":"8aaf22b.ca3c26","type":"comment","z":"6ce7c9fb.b3a72","name":"Display Time","info":"","x":1733,"y":1173,"wires":[]},{"id":"f5101fb2.d17a3","type":"pythonshell in","z":"6ce7c9fb.b3a72","name":"Py Filer DB","pyfile":"D:\\Program\\DataBase\\filerDB.py","virtualenv":"","continuous":false,"stdInData":false,"x":154,"y":2166,"wires":[[]]},{"id":"ec474701.c8d18","type":"comment","z":"6ce7c9fb.b3a72","name":"'Py Filer DB' Note","info":"In 'Py Filer DB' code block:\nChange the path to the current script path of the file 'filerDB.py'.","x":140,"y":2126,"wires":[],"icon":"node-red/alert.svg"},{"id":"fa9051d0.615d18","type":"inject","z":"6ce7c9fb.b3a72","name":"Timer","topic":"","payload":"Start","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":2300,"wires":[[]]},{"id":"cbd88adc.2a1038","type":"ui_group","z":"","name":"Signin","tab":"b4d107ba.d65648","order":1,"disp":true,"width":"6","collapse":false},{"id":"fafefc20.17ef78","type":"ui_group","z":"","name":"Sensor","tab":"b4d107ba.d65648","order":3,"disp":true,"width":"6","collapse":false},{"id":"c06aa50c.38547","type":"ui_group","z":"","name":"Options","tab":"b4d107ba.d65648","order":2,"disp":true,"width":"6","collapse":false},{"id":"2396b11f.1e9176","type":"ui_group","z":"","name":"Maintenance","tab":"b4d107ba.d65648","order":6,"disp":true,"width":"6","collapse":true},{"id":"dbd9a7c0.b46cd8","type":"ui_group","z":"","name":"Information","tab":"b4d107ba.d65648","order":4,"disp":true,"width":"6","collapse":false},{"id":"76cb9e5a.a42d18","type":"ui_group","z":"","name":"Update","tab":"b4d107ba.d65648","order":5,"disp":true,"width":"6","collapse":true},{"id":"b4d107ba.d65648","type":"ui_tab","z":"","name":"System","icon":"fa-leaf","order":1,"disabled":false,"hidden":false}]